*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
*.log
*.httr-oauth
*.ini
*.jpeg

README.html

MappingHomeworkSolution.Rmd
MappingHomeworkSolution.html

InterpolationHomeworkSolution.Rmd
InterpolationHomeworkSolution.html

MappingHomeworkScript.R
InterpolationHomeworkScript.R


AfricaMaps.R

SpatialData/
rsconnect/