*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
*.log
*.httr-oauth
*.ini
*.jpeg

README.html

IntroMappingHomeworkSolution.Rmd
IntroMappingHomeworkSolution.html

MappingHomeworkScript.R


AfricaMaps.R

SpatialData/
maps/