*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
*.log
*.httr-oauth
*.ini
*.jpeg

TimeSeriesCountHomeworkAssignment.Rmd

TimeSeriesCountHomeworkSolution.Rmd
TimeSeriesCountHomeworkSolution.html
TimeSeriesCountHomeworkSolution.pdf