*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
*.log
*.httr-oauth
*.ini
*.jpeg

DataManipulationHomeworkAssignment.Rmd

DataManipulationHomeworkSolution.Rmd
DataManipulationHomeworkSolution.html
DataManipulationHomeworkSolution.pdf