*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
*.log
*.httr-oauth
*.ini
*.jpeg

BasicStatsHomeworkAssignment.Rmd

rsconnect/
BasicStatsHomeworkSolution_files/
t_tests.R
BasicStatsHomeworkSolution.Rmd
BasicStatsHomeworkSolution.html
BasicStatsHomeworkSolution.pdf

BasicStatsHomeworkSolution.docx
BasicStatsHomeworkSolution2.docx