*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
*.log
*.httr-oauth
*.ini
*.jpeg

DataManagementHomeworkAssignment.Rmd

DataManagementHomeworkSolution.Rmd
DataManagementHomeworkSolution.html
DataManagementHomeworkSolution.pdf