*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
*.log
*.httr-oauth
*.ini
*.jpeg
*.Rmd
*.html
*.pdf

rsconnect/ 
ClusteringHomeworkSolution_files/ 

IntroMultivariate.R
IntroMultivariate2.R
IntroMultivariateOrdinations3D.R