*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
*.log
*.httr-oauth
*.ini
*.jpeg

IntroMultivariateHomeworkAssignment.Rmd

IntroMultivariateHomeworkSolution.Rmd
IntroMultivariateHomeworkSolution.html
IntroMultivariateHomeworkSolution.pdf

IntroMultivariate.R
IntroMultivariate2.R